################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dnaspider/v15
/bin
/dna_setup/bin
/dna_setup/obj/Release
/dna_setup/obj/x64/Release
/obj/Debug
/obj/Release
dnaspider.vbproj.user
dnaspider.vbproj
dnaspider.vbproj
dnaspider.vbproj
dna_setup/obj/x64/Debug/dna_setup.wixproj.BindBuiltOutputsFileListnull.txt
dna_setup/obj/x64/Debug/dna_setup.wixproj.BindContentsFileListnull.txt
dna_setup/obj/x64/Debug/dna_setup.wixproj.BindOutputsFileListnull.txt
dna_setup/obj/x64/Debug/dna_setup.wixproj.FileList.txt
dna_setup/obj/x64/Debug/Product.wixobj
